.heading-primary {
  font-size: $heading-primary;
  display: inline-block;
}
.heading-secondary {
  font-size: $heading-secondary;
  display: inline-block;
}

.heading-tertiary {
  font-size: $heading-tertiary;
  display: inline-block;
}

.heading-h4 {
  font-size: $heading-h4;
  display: inline-block;
}

.para {
  font-size: $default-font-size;
  display: inline-block;
}
