$color-slate-50: #f8fafc;
$color-slate-200: #e2e8f0;
$color-slate-400: #94a3b8;
$color-slate-900: #64748b;
$color-slate-950: #020617;

$color-amber-200: #fde68a;
$color-amber-500: #f59e0b;

$color-cyan-700: #0369a1;

$color-red-700: #be123c;

$color-green-700: #047857;
$color-green-100: #dcfce7;

// FONT
$default-font-size: 1.6rem;
$heading-primary: 3.6rem;
$heading-secondary: 2.8rem;
$heading-tertiary: 2rem;
$heading-h4: 1.6rem;
